<input type="text" name="num_events" patter="[0-9]*" id="spinner-01" value="<%= num_events %>" class="spinner ui-spinner-input" aria-valuemin="1" aria-valuemax="9999">
<select name="info" class="mbn">
  <option value="0">INFO</option>
  <option value="1">WARN</option>
  <option value="2">ERROR</option>
</select>
