<span class="ui-spinner ui-widget ui-widget-content ui-corner-all">
  <input type="text" name="num_events" pattern="[0-9]*" id="spinner-01" value="<%= num_events %>" placeHolder="<%= num_events %>" class="spinner ui-spinner-input" aria-valuemin="1" aria-valuemax="9999" aria-valuenow="10" autocomplete="off" role="spinbutton">
</span>
