<input type="text" name="num_events" patter="[0-9]*" id="spinner-01" value="<%= num_events %>" class="spinner ui-spinner-input" aria-valuemin="1" aria-valuemax="9999">
<select name="info" class="mbn" id="log_level">
  <option value="info">INFO</option>
  <option value="warn">WARN</option>
  <option value="error">ERROR</option>
</select>
