<aside class="well hidden m-sidebar affix breakme">
  <div class="row-fluid mbm">
    <div class="span4" id="eventID">
      <span class="label label-inverse">Event ID</span>
    </div>
    <div class="span4" id="thread">
      <span class="label label-inverse">Thread</span>
    </div>
    <div class="span4" id="level">
      <span class="label label-inverse">Level</span>
    </div>
  </div>
  <div class="row-fluid mbm" id="callerClass">
    <span class="label label-inverse">Caller Class</span>
  </div>
  <div class="row-fluid mbm">
    <div class="span6" id="callerMethod">
      <span class="label label-inverse">Caller Method</span>
    </div>
    <div class="span6" id="lineNumber">
      <span class="label label-inverse">Line Number</span>
    </div>
  </div>
  <div class="row-fluid mbm" id="formattedMessage">
    <span class="label label-inverse">Message</span>
  </div>
  <a href="#fakelink" class="btn btn-large btn-block disabled">Exception Info</a>
</aside>
