<div class="row">
  <div class="container-fluid">
    <div class="span">
        <div class="control-group">
          <%= render 'watch/filters' %>
        </div>
    </div>
  </div>
</div>

<div class=row-fluid>
  <div class="container-fluid">
    <div class="span9">
      <%= render 'watch/event_table' %>
    </div>
    <div class="span3">
      <div class="proper-content">
        <%= render 'watch/sidebar' %>
      </div>
    </div>
  </div> <%# container-fluid %>
</div> <%# row-fluid %>
