<header class="navbar navbar-inverse navbar-fixed-top" role="banner">
  <div class="navbar-inner">
    <div class="container-fluid">
      <%= link_to "Watchman", "#", class: "brand" %>
      <nav role="navigation">
        <ul class="nav">
          <li class="active"><%= link_to "Home", "#" %></li>
          <li><%= link_to "Link 1", "#" %></li>
          <li><%= link_to "Link 2", "#" %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
