<aside class="well hidden m-sidebar">
  <div class="row-fluid mbm">
    <div class="span4"><span class="label label-inverse">Event ID</span>334234.0</div>
    <div class="span4"><span class="label label-inverse">Thread</span>Timer-1</div>
    <div class="span4"><span class="label label-inverse">Level</span>INFO</div>
  </div>
  <div class="row-fluid mbm">
    <span class="label label-inverse">Logger Name</span>com.nwlinc.contentmanager.jobs.jboss.schedule.CacheEngineSchedulable
  </div>
  <div class="row-fluid mbm">
    <span class="label label-inverse">Caller Filename</span>CacheEngineSchedulable.java
  </div>
  <div class="row-fluid">
    <div class="span6"><span class="label label-inverse">Caller Method</span>perform</div>
    <div class="span6"><span class="label label-inverse">Line Number</span>41</div>
  </div>
</aside>
